<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/styles.css" rel="stylesheet"> 
    <title>To-Do List</title>
   
</head>
<body class="font-sans">
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <div class="text-center py-3"><%- include('header.ejs') %></div>
            
            <p class="py-2">Welcome to the Todo Application</p>
            <p class="py-2">New here? <a href="/signup" class="text-green-600">Sign-up now</a></p>
            <p class="py-2">Already have an account <a href="/login" class="text-green-600">Sign in</a></p> 
            <div class="text-center py-3">
                <%- include('footer.ejs') %>
            </div>
           
        </div>
    </div>
    
</body>
</html>